@model Studentdetails.Models.Studentinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Studentinfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Studentdept.Deptname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentdept.Deptname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studsubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studsubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studmark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentinfoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
